<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
  <%= link_to 'Home', root_path, class: "navbar-brand text-white" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Recipes', recipes_path, class: "nav-link active text-white" %>
        </li>
        <li class="nav-item">
        <%= link_to 'Public Recipes', public_recipes_path, class: "nav-link active text-white" %>
        </li>
      </ul>
      <% if user_signed_in? %>
    <%= button_to t('sign_out'), destroy_user_session_path, method: :delete, class:"btn btn-outline-danger" %>
    <% end %>
    </div>
  </div>
</nav>