body {
    margin: 10% !important;
}

.title {
    text-align: center;
}

div.row {
    padding: 3%;
    border: solid black 3px;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

a.recipetitle {
    text-decoration: none;
    color: black;
}